doctype html
head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='keywords', content='Softball Registration Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
  script(type='application/x-javascript').
            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  // font files
  link(href='//fonts.googleapis.com/css?family=Spectral', rel='stylesheet')
  // /font files
  // css files
  link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
  // /css files
  link(href='css/wickedpicker.css', rel='stylesheet', type='text/css', media='all')
  script(type='text/javascript', src='js/jquery-2.1.4.min.js')
.w3-banner-main
  .center-container
    h1.header-w3ls #{title}
    .content-top
      .content-w3ls
        .form-w3ls
          form(action='./routes/statistics', method='post')
            .content-wthree1
              .grid-agileits1
                .form-control
                  label.header Player ID
                  input#name(type='text', name='ID', placeholder='', title='Please enter the Player ID', required='')
        .form-w3ls-1
          .form-control
            label.header Season
            input#name(type='text', name='season', placeholder='', title='Please enter the Season', required='')
          br
          input(type='submit', value='Search')
        .clear
    p.copyright
      | &copy; 2019 Player Statistics All Rights Reserved | Design by V E INF
// Calendar
link(rel='stylesheet', href='css/jquery-ui.css')
script(src='js/jquery-ui.js')
script.
  $(function() {
  $( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
  });
// //Calendar
script(type='text/javascript', src='js/wickedpicker.js')
script(type='text/javascript').
  $('.timepicker').wickedpicker({twentyFour: false});