doctype html
head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='keywords', content='Softball Registration Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
  script(type='application/x-javascript').
            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  // font files
  link(href='//fonts.googleapis.com/css?family=Spectral', rel='stylesheet')
  // /font files
  // css files
  link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
  // /css files
  link(href='css/wickedpicker.css', rel='stylesheet', type='text/css', media='all')
  script(type='text/javascript', src='js/jquery-2.1.4.min.js')
    block content